<!DOCTYPE html>
<html>
<head>
    <title>Игрушка</title>
    <meta charset="utf-8" />
    {{!--Новенькое --}}
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
    {{!--Новенькое --}}
</head>
<body>
    {{!--Новенькое --}}
    <main>
            <div id="display"></div>
            <button id="button">Кликаца</button>
            <div id="counter"></div>
    </main>
    {{!--Новенькое --}}
    <center>
    <br>
    <form action="/new" method="post">
        <input class="rec1" name="Имя" type="text" placeholder="Имя" value="">
        <input class="rec2" name="Число" type="text" placeholder="Число" value="">
        <button id="records" class="send">Увековечить</button>
    </form>
    <br>
    <table class="list">
        <tr>
            <th>Имя</th>
            <th>Число</th>
        </tr>
        <!-- это цикл по массиву объектов -->
        {{#each arr}}
            <tr>
                <td>{{this.Имя}}</td>
                <td>{{this.Число}}</td>
                <td>
                    <a href="/del/{{this.id}}" onClick="return window.confirm('Удаляем?');">Удалить</a>
                </td>
            </tr>
        {{/each}}
    </table> 
    </center>
    {{!--Новенькое --}}
    <script>
        // Сколько у нас кликов и сколько у нас времени 
        let clicks = 0;
        const TIMEOUT = 5000;

        // Берем в руки эти три штуки 
        // const display = document.getElementById('display');
        // const button = document.querySelectorAll('#button');
        // const counter = document.querySelectorAll('#counter');

        button.onclick = start; // Пусть нажатие вызовет функцию

        function start() {
            const startTime = Date.now(); // Сохраним-ка время начала игры
            display.textContent = formatTime(TIMEOUT);

            // Приколюха в том что сначала прибавится а потом выведется 
            button.onclick = () => counter.textContent = clicks++;

            // Посчитай-ка мне разницу во времени между началом и сейчас
            const interval = setInterval(() => {
                const delta = Date.now() - startTime; // Сейчас минус начало
                display.textContent = formatTime(TIMEOUT - delta);
            }, 100); // Выполняться будет каждый 100 миллисекунды 


            // Когда время закончилось вырубаем обработчик кнопочки 
            const timeout = setTimeout(() => {
                button.onclick = null;
                display.textContent = 'Вот и все';

                clearInterval(interval); // Очисти интервал
                clearTimeout(timeout); // И таймер тоже сделай тю-тю
            }, TIMEOUT);
        }

        function formatTime(ms) { // Хочется же что бы не просто 5000 выводилось
            return Number.parseFloat(ms / 1000).toFixed(2);
        }
    </script>
    {{!--Новенькое --}}
</body>
<html>